<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.honoursproject_opendayapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/apptitle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".ComputerScience"></activity>
        <activity
            android:name=".Sunday"
            android:label="@string/sunday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Saturday"
            android:label="@string/saturday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Friday"
            android:label="@string/friday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Thursday"
            android:label="@string/thursday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Wednesday"
            android:label="@string/wednesday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Tuesday"
            android:label="@string/tuesday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Monday"
            android:label="@string/monday"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TaylorCourt"
            android:label="@string/taylorcourt"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Westfield"
            android:label="@string/westfield"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Courtyard"
            android:label="@string/courtyard"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CampusMap"
            android:label="@string/campusmap"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Parking"
            android:label="@string/parking"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Schedule"
            android:label="@string/schedule"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activities"
            android:label="@string/activties"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Accommodation"
            android:label="@string/accommodation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>